<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="URL" value="http://localhost:50431/api/v1/Employee" />
    <add key="PATH_FILE" value="C:\Projetos\Integration\src\Application.Ui.ConsoleApp\Archive\Employee.csv" />
  </appSettings>
</configuration>